<div class="mt-4">
    {{!-- <div style="height:10%;weight:50%;font-size: 1.2rem;left: 20%;right:20%;position: relative;font-family: \"Times New Roman\", Times, serif;">
        {{content.name}}
    </div> --}}
    <div class="col-lg-9" style=";left: 15%;position: relative">
        <h2 >{{content.name}}</h2>
        <p style="color: grey;">{{content.decription}}</p>
        <img src="{{content.image}}" alt="" style="position: relative;weight:300px;height:200px;display:block;margin:5% 10% 10% 10%">
        <p style="font-size: 125%;">{{content.content}}</p>
    </div>
</div>
